<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All chats :</h1>
    <form action="/chat/add" method="get">
        <button>create chat</button><br><br>
    </form>
    <%for(let chat of chats){%>
        <div class="container">
            <p><b>from:<%=chat.from%></b></p>
            <div class="msg">
                <p><b>msg:<%=chat.msg%></b></p>
                <form action="/chat/<%=chat._id%>/edit" method="get">
                    <button>EDIT</button>
                </form><br>
                <form id="submit" action="/chat/<%=chat._id%>?_method=DELETE" method="post" >
                    <button >DELETE</button>
                </form>
            </div>
            <p><b>to:<%=chat.to%></b></p>
            <p><%=chat.created_at.toString().split(" ")[4]%></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
        </div>
        <hr>
   <% }%>
  <script src="../public/app.js"></script>
</body>
</html>